<body>
  <div class="container">
    <div class="form-wrapper">
      <h1>Forgot Password</h1>
        <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
        <%= render 'shared/error_message' %>
        <%= hidden_field_tag :email, @user.email %>

      <div class="form-item">
        <% f.label :password %>
        <%= f.password_field :password,:placeholder => "Password" %>
      </div>
      <div class="form-item">
        <% f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, :placeholder => "Confirmation" %>
      </div>
      <div class="button-panel">
        <%= f.submit "Update password", class: "button" %>
      </div>
      <div class="form-footer"></div>
    </div>
      <% end %>
    </div>
  </div>
</body>
