
  <body>
    <div class="container">
      <div class="form-wrapper">
  <h1>Forgot Password</h1>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
    <div class="form-item">
      <% f.label :email %>
      <%= f.email_field :email, :placeholder => "Email" %>
    </div>
    <div class="button-panel">
      <%= f.submit "Send email", class: "button" %>
    </div>
    <% end %>
  <div class="form-footer">
    <%= link_to("Create an account", '/signin') %></br>
    <%= link_to("Login", login_url) %>
  </div>
</div>
    </div>
  </body>
