
  <body>
      <div class="row">
        <aside class="col-md-4">
          <section class="user_info">
            <h1>
              <%= @user.name %>
            </h1>
          </section>
        </aside>
      </div>
      <div class="user-list">
        <% if @user.dailyreports.any? %>
        <h3>Dailyreports (<%= @user.dailyreports.count %>)</h3>
        <ul class="user">
          <% @dailyreports.each do |report| %>
          <li class="dailyreport">
            <span class="timestamp">
              Created <%= time_ago_in_words(report.created_at) %> ago.
            </span>
            <span class="description"><%= report.content %></span><br>
            <% if current_user?(report.user) %>
          <%= link_to "delete", "/dailyreports/#{report.id}", method: :delete,
                                           data: { confirm: "You sure?" } %>
                                           <% end %>
          </li>
            <% end %>
         </ul>
      </div>
        <div class="pagination-wrapper">
          <%= paginate @dailyreports %>
        </div>
        <% end %>
  </body>
</html>
