<header class="before_login">
  <div class="logo">
    <%= image_tag('logo.png')%>
  </div>

  <nav>
      <ul class="nav">
        <% if logged_in? %>
          <li class="under"><%= link_to "日報を見る", '#' %></li>
          <li class="under">
            <%= link_to "My page", current_user %>
            <ul>
              <li><%= link_to "Settings", '#' %></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </nav>

</header>
